.tbl1{
    margin: 30px 75px;
}
#mainHeading{
    width: 1000px;
    height: 200px;
    background-color:cadetblue;
    font-size: xx-large;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
.MenuBar th{
    background-color: rgb(72, 106, 107);
    padding: 15px 40px;
    font-size: large;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.MenuBar th:hover{
    background-color: cadetblue;
}
.tbl2{
    text-align: center;
    width: 1000px;
    height: 65px;
    margin: 30px 75px;
    
}
.tbl3{
    margin: 0px 350px;
    font-size: small;
}
.tbl5{
    width: 1000px;
    margin: 50px 75px;
}
.MenuHeading{
    background-color: rgb(112, 220, 223);
    height: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-large;
}
/* .fruitMenuBar th{
    background-color: rgb(72, 106, 107);
    padding: 15px;
    font-size: large;
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
} */